<ul class="c-examples--tabs-list">
  <li class="c-examples--tabs-list-item">images</li>
  <li class="c-examples--tabs-list-item">videos</li>
  <li class="c-examples--tabs-list-item">code</li>
</ul>

<section class="c-examples--tabs">
  <section class="c-examples--tabs-item">

    <form (ngSubmit)="onUpload($event)"
      novalidate>

      <input #filesInput
        type="file"
        name="files"
        multiple />

      <button type="submit">Upload</button>

    </form>

    <img [src]="image.url"
      *ngFor="let image of images" />
  </section>
  <section class="c-examples--tabs-item"></section>
  <section class="c-examples--tabs-item"></section>
</section>
