<h2 class="c-sidebar--title">
  <div [ngClass]="{'c-sidebar--title-roller': true, 'editing': appState.get('editing')}">
    <section>
      <a [routerLink]="appState.get('instance')">
        <img src="../../../../assets/images/logo.svg" />
        {{title}}
      </a>
      <a class="c-sidebar--title-edit"
        (click)="onStartEdit()">&#9999;</a>
    </section>
    <a class="c-sidebar--title-state"
      (click)="onEndEdit()">
      <i>&#9999;</i>editing
    </a>
  </div>
</h2>
<nav class="c-sidebar--navigation">

  <ng-container *ngFor="let topic of topics">

    <a class="c-sidebar--navigation-topic"
      [routerLink]="topic.route"
      routerLinkActive
      #rla="routerLinkActive">{{topic.title}}</a>

    <ul class="c-sidebar--navigation-articles"
      *ngIf="router.isActive(topic.route || '')">

      <ng-container *ngFor="let id of topic.articles"
        [ngTemplateOutlet]="articleRef"
        [ngTemplateOutletContext]="{article: getArticle(id) | async}"></ng-container>

      <ng-template #articleRef
        let-article="article">
        <a [routerLink]="article.route"
          class="c-sidebar--navigation-article">{{article.title}}</a>
      </ng-template>

      <a class="c-sidebar--navigation-add"
        (click)="toggleCreateArticle()"
        *ngIf="!articlesState.creating">+ Add new article</a>

      <input class="c-sidebar--navigation-input"
        placeholder="Add new article"
        [(ngModel)]="articlesState.model"
        (keyup.enter)="createArticle(articlesState.model)"
        (keyup.escape)="toggleCreateArticle()"
        *ngIf="articlesState.creating" />

    </ul>

  </ng-container>

  <a class="c-sidebar--navigation-add"
    (click)="toggleCreateTopic()"
    *ngIf="!topicsState.creating">+ Add new topic</a>

  <input class="c-sidebar--navigation-input"
    placeholder="Add new topic"
    [(ngModel)]="topicsState.model"
    (keyup.enter)="createTopic(topicsState.model)"
    (keyup.escape)="toggleCreateTopic()"
    *ngIf="topicsState.creating" />

</nav>
