<form [formGroup]="searchForm"
  class="c-topbar--search"
  (submit)="search()">
  <input class="c-topbar--search-input"
    formControlName="query"
    placeholder="search for any resource you need..." />
</form>

<section class="c-topbar--edit"
  *ngIf="user">
  <a>+ Add Topic</a>
  <a>+ Add Article</a>
  <a>+ Add Section</a>
</section>

<section class="c-topbar--user"
  *ngIf="user">
  <img class="c-topbar--user-image"
    src="https://unsplash.it/96/96?image=200" />
  <div>
    <span class="c-topbar--user-name">{{user.name}}</span>
    <span class="c-topbar--user-role">{{user.role}}</span>
  </div>
</section>

<section *ngIf="!user">
  <!--
  <a (click)="toggleEditMode()"
    *ngIf="user">{{appState.get('editing') ? 'Stop editing' : 'Start editing'}}</a>
  -->
  <a routerLink="login">Login</a>
</section>
