.c-assets {
  position: relative;
  display: block;
  min-height: 100%;
  padding: 2vr 4vr;

  &--tabs-list {
    display: flex;
    list-style: none;

    &-item {
      padding: 0.5vr 1vr;

      &:not(:first-child) {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  &--tabs {
    &-item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1vr;

      img {
        width: 100%;
      }
    }
  }
}
