.c-sections {
  position: relative;
  display: block;
  min-height: 100%;

  &::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    z-index: -1;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.05);
  }

  &--header {
    color: white;
    text-align: center;
    padding: 3vr 1vr;
    background-attachment: fixed;
    background-size: 100% 14vr;
    background-image: linear-gradient(to right bottom, $c_color_delta, $c_color_epsilon);

    &-title {
      margin: 0;
      text-transform: uppercase;
      font-weight: lighter;
    }
  }
}
