@import '/styles/constmix.css';

.m-app {
  display: grid;
  grid: 'sidebar topbar' 'sidebar main';
  grid-template-rows: 3vr auto;
  grid-template-columns: minmax(10vr, 3fr) 9fr;

  .c-topbar {
    position: relative;
    grid-area: topbar;
    z-index: $z_topbar;
  }

  .c-sidebar {
    position: relative;
    grid-area: sidebar;
    z-index: $z_sidebar;
  }

  main {
    grid-area: main;
  }
}
