.v-code {
  display: block;
  padding: 2vr 4vr 6vr;
  height: 100%;

  &--menu {
    margin-bottom: 0;
    height: 2vr;
    background-color: white;
  }

  &--editor {
    height: 100%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.03);
  }
}
