.c-section {
  @mixin clearfix;

  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &--details {
    @mixin clearfix;

    padding: 0.5vr 4vr;
    color: rgba(0, 0, 0, 0.5);

    &-date {
      float: right;
    }
  }

  &--text {
    margin-bottom: 1vr;
    padding: 0 4vr;
    width: 60%;
  }

  &--example {
    margin-bottom: 1vr;
    padding: 0 1vr;
    width: 40%;
    float: right;

    &-code {
      white-space: pre-wrap;
    }

    &-image {
      max-width: 100%;
      border-radius: 4px;
    }
  }
}
