.c-code {
  display: block;
  padding: 2vr 4vr 6vr;
  height: 100%;

  &--menu {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
    height: 3vr;
    background-color: white;

    .c-text-input {
      margin-bottom: 0;
      flex: 1;
    }

    select {
      flex: 0;
      height: 2vr;
    }

    &::after {
      display: block;
      content: '';
      height: 2px;
      width: 100%;
      background-image: linear-gradient(to right, $c_color_beta, $c_color_gamma);
    }
  }

  &--editor {
    height: 100%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.03);
  }
}
