<form class="c-code--form"
  novalidate
  (submit)="onSave()">

  <menu class="c-code--menu">

    <c-text-input name="title"
      [(ngModel)]="title">Code example title</c-text-input>

    <select name="editorMode"
      [(ngModel)]="editorMode"
      (ngModelChange)="onSelectMode($event)">
      <option [ngValue]="mode"
        *ngFor="let mode of modes">{{mode.caption}}</option>
    </select>

    <c-button-input button-type="submit">Save</c-button-input>

  </menu>

  <c-code-editor #editorRef
    class="c-code--editor"
    name="code"
    [(ngModel)]="code"></c-code-editor>

</form>
