<form class="c-code--form"
  novalidate
  (submit)="onSave()">

  <menu class="c-code--menu">

    <c-text-input [name]="'title'"
      [Label]="'Code example title'"
      [ngModel]="title"></c-text-input>

    <select name="editorMode"
      [ngModel]="editorMode"
      (ngModelChange)="onSelectMode($event)">
      <option [ngValue]="mode"
        *ngFor="let mode of modes">{{mode.caption}}</option>
    </select>

    <c-button-input [ButtonType]="'submit'">Save</c-button-input>

  </menu>

  <c-code-editor class="c-code--editor"
    [code]="code"
    #editorRef></c-code-editor>

</form>
