/* INPUT CONTROLLER
================================================================================ */

.c-fieldset {
  position: relative;

  &.inline > * {
    margin-right: 0.5vr;
    float: left;
  }
}
