.c-article {
  display: block;
  background: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 3px;
  transition: transform calc(var(--t_animation) / 4) linear;

  > a {
    text-decoration: none;
    color: black !important;
  }

  &:hover {
    transform: translate3d(0, -2px, 0);
  }

  &--image {
    height: 10vr;
    background-position: center !important;
    background-size: cover !important;
  }

  &--tags {
    padding: 0.5vr;
    color: white;
  }

  &--date, &--title, &--preamble {
    padding: 0 1vr;
  }

  &--title, &--preamble {
    display: block;
    margin-bottom: 1vr;
    width: 100%;
    white-space: pre-wrap;
    border: none;
    outline: none !important;
  }

  &--date {
    color: rgba(0, 0, 0, 0.7);
  }

  &--title {
    font-family: inherit;
    font-size: 3.2rem;
    font-weight: bold;
  }

  &--preamble {
    resize: none;
    outline: none !important;
  }
}
