<a [routerLink]="!editing ? ['code', 'article', id] : undefined">
  <figure class="c-article--image"
    [ngStyle]="{'background': 'url('+image+')'}">
    <figcaption class="c-article--tags">{{tags.join(', ')}}</figcaption>
  </figure>

  <section>
    <time class="c-article--date">{{date | date: 'medium'}}</time>
    <h3 class="c-article--title"
      *ngIf="!editing">{{title}}</h3>
    <input class="c-article--title"
      [(ngModel)]="title"
      *ngIf="editing" />
    <p class="c-article--preamble"
      *ngIf="!editing">{{preamble}}</p>
    <textarea class="c-article--preamble"
      [autosize]
      [(ngModel)]="preamble"
      *ngIf="editing">{{preamble}}</textarea>
  </section>
</a>
