<!-- TITLE -->

<h2 class="c-sidebar--title">
  <div [ngClass]="{'c-sidebar--title-roller': true, 'editing': state.editing}">
    <section>
      <a routerLink="/">
        <img src="../../../assets/images/logo.svg" /> {{title}}
      </a>
      <a class="c-sidebar--title-edit"
        (click)="onStartEdit()">&#9999;</a>
    </section>
    <a class="c-sidebar--title-state"
      (click)="onEndEdit()">
      <i>&#9999;</i>editing
    </a>
  </div>
</h2>

<!-- EDITOR CONTAINER -->

<section class="c-sidebar--editor"
  #editorRef></section>

<!-- NAVIGATION -->

<nav class="c-sidebar--navigation">

  <!-- TOPICS -->

  <ul class="c-sidebar--navigation-topics"
    #topicsRef>

    <li class="c-sidebar--navigation-topic"
      [attr.draggable]="state.editing"
      aria-grabbed="false"
      (dragstart)="onDragStart($event, topic)"
      (dragenter)="onDragEnter($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDragDrop($event, topic)"
      (dragend)="onDragEnd($event)"
      *ngFor="let topic of topics">

      <a [routerLink]="[state.instance, 'topic', topic.id]"
        draggable="false"
        routerLinkActive
        #rla="routerLinkActive"
        [attr.aria-current]="rla.isActive">{{topic.title}}</a>

      <a class="c-sidebar--navigation-topic-delete"
        role="button"
        (click)="deleteTopic(topic.id)"
        *ngIf="state.editing">&#10799;</a>

      <!-- ARTICLES -->

      <ul class="c-sidebar--navigation-articles">

        <li class="c-sidebar--navigation-article"
          *ngFor="let article of topic.articles">
          <a [routerLink]="[state.instance, 'article', article.id]">{{article.title}}</a>
        </li>

      </ul>
    </li>
  </ul>

  <!-- ADD TOPIC -->

  <ng-container *ngIf="state.editing">
    <a class="c-sidebar--navigation-add"
      (click)="toggleCreateTopic()"
      *ngIf="!topicsState.creating">+ Add new topic</a>

    <c-text-input class="c-sidebar--navigation-input"
      placeholder="Add new topic"
      [(ngModel)]="topicsState.model"
      (keyup.enter)="createTopic(topicsState.model)"
      (keyup.escape)="toggleCreateTopic()"
      *ngIf="topicsState.creating"></c-text-input>
  </ng-container>

</nav>
